   html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
			position:absolute;
    }

	.topbar {
		width: 100%;
		height: 30px;
		position:fixed;
		z-index:2;
	}
	
	.left {
		width: 48.6%;
		height:100%;
		float: left;
		display: inline;
		background-color:red;
	}
	.right {
		width: 48.6%;
		height:100%;
		float: left;
		display: inline;
		background-color:blue;
	}
	
	.help {
		width:2.8%;
		height:100%;
		float: right;
		display: inline;
		background-color:yellow;
	}
	
	.sidebar {
		width: 20%;
		height: 100%;
		position:fixed;
		z-index:1;
	}
	
	.top {
		width: 100%;
		height:50%;
		background-color:orange;
	}
	.bottom {
		width: 100%;
		height:50%;
		background-color:green;
	}
	
	#content {
		position: relative;
		width: 75%;
		left: 23%;
		top: 80px;
		z-index: 0;
		border-style: solid;
		border-width: 3px;
	}

	div:hover {
		background-color:grey;
	}
	